<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to backend of <%= title %></p>
    <p>this is a restfull api that serves data to the front end</p>
  <h2>enpoints</h2>
  <p>here you can see what endpoints where used and what the response was</p>
  <ul>
    <% endpoints.forEach(function(enpoint)  { %>
      <li><%=enpoint%></li>
    <% }); %>
  </ul>
  </body>
</html>
